@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
* {
  font-family: 'Nanum Gothic', sans-serif;
}
.time {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10px;
  float: right;
  margin-top: 40px;
}
body {
  overflow: 100%;
}
#chat {
  height: 100%;
  overflow-y: auto;
}
.timel {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10px;
  float: left;
  margin-top: 40px;
}
.uprow {
  float: left;
  padding-left: 30px;
  background-color: white;
}
span.uprow {
  padding-top: 12px;
  font-size: 30px;
  background-color: white;
}
#uprowcont {
  position: fixed;
  width: 100%;
  background-color: white;
}
.r {
  width: 20%;
  text-align: center;
  float: right;
  background-color: teal;
  border-radius: 30px;
  margin: 30px;
  height: 50px;
  overflow-y: auto;
}

.l {
  margin: 30px;
  height: 50px;
  width: 20%;
  text-align: center;
  float: left;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  overflow-y: auto;
}
body {
  text-align: center;
}
#textbar {
  border-radius: 5px;
  width: 90%;
  outline: none;
  border: none;
}
#send {
  cursor: pointer;
}
#sendcont {
  width: 100%;
  background-color: white;
  display: inline-flex;
}
#sendcont {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  padding-bottom: 25px;
}
body::-webkit-scrollbar {
  display: none;
}
